.confirmation-container {
    padding: 40px 20px;
    background: white;
    position: relative;
    align-items: center;
    text-align: center;
}

.confirmation-content {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(46,46,46,1);
    width: 50%;
    margin: 0 auto;
    z-index: 1;
    background: white;
}
        
.confirmation-header {
    font-family: 'Great Vibes';
    font-size: 3.5rem;
    color: rgba(46, 46, 46, 1);
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.confirmation-item {
    position: relative;
    text-align: center;
    z-index: 1;
}

.confirmation-item p {
    font-size: 1.6rem;
    z-index: 1;
}

.confirmation-btn {
    display: inline-flex;
    align-items: center;
    margin-top: 25px;
    padding: 12px 25px;
    background: #b76e79;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all 0.3s;
    box-shadow: 0 3px 10px rgba(46, 46, 46, 1);
}
  
.confirmation-btn:hover {
    background: #9a5a63;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(183,110,121,0.4);
}

/* Стили для даты */
.sm-date__confirmation {
    font-family: 'Cinzel', serif;
    font-size: clamp(1.5rem, 3vw, 2.0rem);
    color: #333;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-dot_confirmation {
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #b76e79;
    margin: 0 5px;
}

@media (max-width: 870px) {

    .confirmation-content{
        width: 90%;
        margin: 0 auto;
    }

    .confirmation-header h2 {
        font-size: 2.8rem;
    }
}

@media (max-width: 480px) {

    .confirmation-content{
        width: 100%;
        margin: 0 auto;
    }

    .confirmation-header h2 {
        font-size: 2.8rem;
    }
}